
<div class="resume-section-content">

    <form method="post">

        <h2 class="mb-5">İletişim</h2>

        <label>Ad Soyad</label>
        <input type="text" name="form-control" dirname="AdSoyad" />

        <br /> <br />

        <label>Mail</label>
        <input type="text" name="form-control" dirname="Mail"/>

        <br /> <br />

        <label>Konu</label>
        <input type="text" name="form-control" dirname="Konu" />

        <br /> <br />

        <label>Mesaj</label>
        <input type="text" name="form-control" dirname="Mesaj"/>
        <br /> <br />
        <button class="btn btn-info"> Mesaj Gönder </button>
        
    </form>
</div>